<%- include('partials/header'); %>

<ul class="recipres">
    <li class="recipe">
        <img src="" alt="">
        <h4>Banana Boost</h4>
        <p>Banana with vanila ice cream</p>
    </li>
    <li class="recipe">
        <img src="" alt="">
        <h4>Banana Boost</h4>
        <p>Banana with vanila ice cream</p>
    </li>
    <li class="recipe">
        <img src="" alt="">
        <h4>Banana Boost</h4>
        <p>Banana with vanila ice cream</p>
    </li>
    <li class="recipe">
        <img src="" alt="">
        <h4>Banana Boost</h4>
        <p>Banana with vanila ice cream</p>
    </li>
    <li class="recipe">
        <img src="" alt="">
        <h4>Banana Boost</h4>
        <p>Banana with vanila ice cream</p>
    </li>
</ul>

<%- include('partials/footer'); %>